@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";

body {
    background-color: #ffe4c4;
}

.cursive {
  font-family: 'Dancing Script', cursive;
}

header {
  position: fixed;
  z-index: 5;
}

