@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffe4c4;
}

.cursive {
  font-family: 'Dancing Script', cursive;
}

/* img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75dvh;
} */

/* .carousel {
    position: relative;
    width: 100%;
    height: 400px;
  } */
  /* 
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .image.active {
    opacity: 1;
  } */
  